swiper-container {
  height: 500px;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-color: #d7df23;
  --swiper-pagination-bullet-inactive-color: white;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-left: 40px;
}

swiper-slide {
  color: #fff;
  font-size: 25px;
}

.swiper-pagination {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
